$color_1: white;
$color_2: #333351;
$background-color_1: #252530;
$background-color_2: rgba(214, 214, 214);
$background-color_3: rgb(175, 234, 139);
$background-color_4: rgb(200, 116, 221);
$background-color_5: rgb(111, 172, 233);
$background-color_6: rgb(231, 170, 105);
$background-color_8: #f9d681;