@use "./variables/colors";
@use "./variables/fonts";

@mixin tablet {
  @media screen and (max-width: 768px) {
    @content;
  }
}

@mixin mobile {
  @media screen and (max-width: 480px) {
    @content;
  }
}

body {
  background-color: colors.$background-color_1;
  font-family: fonts.$font-family_1, fonts.$font-family_2;
  color: colors.$color_1;
  margin: 2em auto;
}

/* HEADER */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  width: 90%;

  @include tablet {
    width: 90%;
    font-size: 0.8em;
    gap: 0.7em;
  }

  .logo {
    flex: 1;
    max-width: 30%;
    cursor: pointer;
  }

  .menu {
    > * {
      display: flex;
      flex: 2;
      gap: 1.4em;
      font-size: 1.2em;
      font-weight: 400;
      font-family: fonts.$font-family_1;
    }
  }

  .menuitem {
    a {
      text-decoration: none;
      color: colors.$color_1;

      &:hover {
        color: colors.$color_1;
        border-bottom: 2px solid colors.$background-color_8;
      }
    }
  }

  .fa-solid {
    color: colors.$color_1;
  }
}

/* #1 SECTION */
.first-screen-cards {
  display: flex;
  margin-top: 5em;
  width: 100%;

  @include tablet {
    font-size: 0.6em;
    margin-top: 5em;
  }

  .left-side {
    width: 40%;
    position: relative;
    margin-left: 0.8em;

    img {
      width: 97%;
      height: 450px;
      object-fit: cover;
      border-radius: 2em;
      cursor: pointer;
    }
  }

  .left-image-box {
    position: relative;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 97%;
      height: 450px;
      border-radius: 2em;
      background-color: colors.$background-color_2;
      opacity: 0.2;
      cursor: pointer;
    }

    img {
      transition: transform 0.3s ease;
    }

    &:hover {
      img {
        transform: scale(1.03);
      }
    }
  }

  .btn {
    position: absolute;
    top: 5%;
    left: 5%;

    a {
      text-decoration: none;
      color: colors.$color_2;
      border: 1px solid #ebebeb;
      border-radius: 1rem;
      background-color: colors.$color_1;
      margin-right: 1rem;
      font-family: fonts.$font-family_1;
      font-size: 1em;
      box-sizing: border-box;
      padding: 0.2em 0.4em;
      letter-spacing: 2px;
    }
  }

  .bold-text-left {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 2em 1em;
    color: colors.$color_1;
    font-weight: 800;
    font-size: 2.6em;
    text-shadow: 3px 3px 4px rgba(24, 24, 24, 0.5);
    line-height: 1.4;
    font-family: fonts.$font-family_2;
    box-sizing: border-box;
    padding: 0.5em;
  }

  /* 4 IMG SIDE */
  .right-side {
    display: flex;
    width: 60%;
    flex-wrap: wrap;
    .btn {
      position: absolute;
      top: 10%;
      left: 5%;
      a {
        text-decoration: none;
        color: colors.$color_2;
        border: 1px solid #ebebeb;
        border-radius: 1rem;
        background-color: colors.$color_1;
        margin-right: 1rem;
        font-family: fonts.$font-family_1;
        font-size: 1em;
        box-sizing: border-box;
        padding: 0.2em 0.4em;
        letter-spacing: 2px;
      }
    }
  }
  .card-box {
    width: 48%;
    position: relative;
    margin-left: 0.5em;
    &:nth-child(1) {
      .image-box {
        &::before {
          background-color: colors.$background-color_3;
        }
      }
    }
    &:nth-child(2) {
      .image-box {
        &::before {
          background-color: colors.$background-color_4;
        }
      }
    }
    &:nth-child(3) {
      .image-box {
        &::before {
          background-color: colors.$background-color_5;
        }
      }
    }
    &:nth-child(4) {
      .image-box {
        &::before {
          background-color: colors.$background-color_6;
        }
      }
    }
  }
  .image-box {
    width: 100%;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 220px;
      border-radius: 2em;
      background-color: colors.$background-color_2;
      opacity: 0.9;
      cursor: pointer;
    }
    img {
      width: 100%;
      height: 220px;
      object-fit: cover;
      border-radius: 2em;
      cursor: pointer;
      transition: transform 0.3s ease;
    }
    &:hover {
      transform: scale(1.03);
    }
  }
  .bold-text {
    box-sizing: border-box;
    position: absolute;
    bottom: 20%;
    left: 0;
    color: colors.$color_1;
    font-weight: 800;
    font-size: 2em;
    font-family: fonts.$font-family_2;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    border-radius: 0 0 2em 2em;
    line-height: 1.2;
    padding: 0.5em;
  }
}

/* SECOND SCREEN */
.second-screen-cards {
  margin: auto;
  width: 90%;

  @include tablet {
    margin: 2em;
  }

  .screen-cards {
    position: relative;

    img {
      height: 600px;
      width: 100%;
      object-fit: cover;
      margin-top: 2rem;
      border-radius: 2rem;
    }

    .opacity {
      opacity: 0.6;
      cursor: pointer;
      transition: transform 0.3s ease;

      &:hover {
        transform: scale(1.03);
      }
    }

    .btns {
      position: absolute;
      top: 25%;
      left: 10%;

      a {
        text-decoration: none;
        color: colors.$color_1;
        border: 1px solid #ebebeb;
        border-radius: 1rem;
        padding: 0.4rem 1.2rem;
        margin-right: 1rem;
        font-family: fonts.$font-family_2;
        font-size: 1.2rem;

        &:hover {
          background-color: colors.$background-color_2;
          color: colors.$color_2;
          border: none;
          transition: 1s ease;
        }
      }
    }

    .width-card-text {
      font-size: 3.2em;
      position: absolute;
      top: 32%;
      left: 10%;
      color: colors.$color_1;
      width: 80%;
      font-family: fonts.$font-family_2;
      font-weight: 600;
      line-height: 1.6;
      text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);

      @include tablet {
        top: 35%;
        font-size: 2.8em;
      }
    }

    .add-text {
      position: absolute;
      top: 60%;
      left: 10%;
      font-size: 1.2em;
      width: 60%;
      line-height: 150%;
      color: colors.$color_1;
    }

    .by-text {
      position: absolute;
      top: 75%;
      left: 10%;
      font-size: 1em;
      width: 60%;
      line-height: 150%;
      color: colors.$color_1;
    }

    .yellow {
      &::before {
        content: "";
        position: absolute;
        top: 5%;
        left: 0;
        width: 100%;
        height: 600px;
        border-radius: 2rem;
        background-color: colors.$background-color_8;
        opacity: 0.9;
        cursor: pointer;
      }

      transition: transform 0.3s ease;

      &:hover {
        transform: scale(1.03);
      }
    }

    .dark-btns {
      position: absolute;
      top: 25%;
      left: 10%;

      a {
        text-decoration: none;
        color: colors.$color_2;
        border: 1px solid #333351;
        border-radius: 1rem;
        padding: 0.4rem 1.2rem;
        margin-right: 1rem;
        font-family: fonts.$font-family_2;
        font-size: 1.2rem;

        &:hover {
          background-color: colors.$color_2;
          color: colors.$color_1;
          border: none;
          transition: 1s ease;
        }
      }
    }

    .dark-text {
      font-size: 3.2em;
      position: absolute;
      top: 32%;
      left: 10%;
      color: colors.$color_2;
      width: 80%;
      font-family: fonts.$font-family_2;
      font-weight: 600;
      line-height: 1.6;
      text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);

      @include tablet {
        font-size: 2.4em;
      }
    }

    .line {
      position: absolute;
      top: 58%;
      left: 10%;
      width: 3%;
      border: 1px solid #333351;
    }

    .dark-add-text {
      position: absolute;
      top: 62%;
      left: 10%;
      font-size: 1.2em;
      width: 60%;
      line-height: 150%;
      color: colors.$color_2;

      @include tablet {
        font-size: 1em;
      }
    }

    .dark-by-text {
      position: absolute;
      top: 75%;
      left: 10%;
      font-size: 1em;
      width: 60%;
      line-height: 150%;
      color: colors.$color_2;
    }
  }
  .bellow-section-text {
    font-size: fonts.$font-family_1;
    font-size: 1.2em;
    margin-top: 2em;
    text-align: center;
  }
}
/* IMG-GRID SECTION */
.grid {
  width: 90%;
  margin: 2em auto;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(8, 5vw);
  grid-gap: 1.2em;

  @include tablet {
    margin: 2em;
    display: flex;
    flex-wrap: wrap;
  }

  .item {
    position: relative;
    cursor: pointer;
    transition: transform 0.3s ease;

    @include tablet {
      width: 100%;
    }

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 430px;
      background-color: colors.$background-color_1;
      opacity: 0.8;
      z-index: 1;
      border-radius: 2em;
    }

    figure {
      margin: 0;
    }

    img {
      width: 100%;
      height: 430px;
      overflow: hidden;
      object-fit: cover;
      border-radius: 2em;
      transition: transform 0.3s ease;
    }

    &:hover {
      transform: scale(1.03);
    }

    &.item-50_1::before {
      background-color: colors.$background-color_4;
    }

    &.item-50_2::before {
      background-color: colors.$background-color_8;
    }

    &.item-30_2::before {
      background-color: colors.$background-color_5;
    }
  }

  .item-50_1 {
    grid-column-start: 1;
    grid-column-end: 7;
    grid-row-start: 1;
    grid-row-end: 5;
  }

  .item-50_2 {
    grid-column-start: 7;
    grid-column-end: 13;
    grid-row-start: 1;
    grid-row-end: 5;
  }

  .item-30_1 {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 6;
    grid-row-end: 10;
  }

  .item-30_2 {
    grid-column-start: 5;
    grid-column-end: 9;
    grid-row-start: 6;
    grid-row-end: 10;
  }

  .item-30_3 {
    grid-column-start: 9;
    grid-column-end: 13;
    grid-row-start: 6;
    grid-row-end: 10;
  }

  .grid-btns {
    position: absolute;
    top: 25%;
    left: 10%;
    z-index: 1;

    a {
      text-decoration: none;
      color: colors.$color_1;
      border: 1px solid colors.$color_1;
      border-radius: 1rem;
      padding: 0.4rem 1.2rem;
      margin-right: 1rem;
      font-family: fonts.$font-family_2;
      font-size: 1.2rem;

      &:hover {
        background-color: colors.$background-color_2;
        color: colors.$color_2;
        border: none;
        transition: 1s ease;
      }
    }
  }

  .grid-card-text {
    font-size: 2em;
    position: absolute;
    top: 32%;
    left: 10%;
    color: colors.$color_1;
    width: 80%;
    font-family: fonts.$font-family_2;
    font-weight: 600;
    line-height: 1.6;
    z-index: 1;
  }

  .grid-by-text {
    position: absolute;
    top: 75%;
    left: 10%;
    font-size: 1em;
    width: 60%;
    line-height: 150%;
    color: colors.$color_1;
    z-index: 1;
  }

  .grid-dark-btns {
    position: absolute;
    top: 25%;
    left: 10%;
    z-index: 1;

    a {
      text-decoration: none;
      color: colors.$color_2;
      border: 1px solid colors.$color_2;
      border-radius: 1rem;
      padding: 0.4rem 1.2rem;
      margin-right: 1rem;
      font-family: fonts.$font-family_1;
      font-size: 1.2rem;

      &:hover {
        background-color: colors.$color_2;
        color: colors.$color_1;
        border: none;
        transition: 1s ease;
      }
    }
  }

  .grid-dark-text {
    font-size: 2em;
    position: absolute;
    top: 32%;
    left: 10%;
    color: colors.$color_2;
    width: 80%;
    font-family: fonts.$font-family_2;
    font-weight: 600;
    line-height: 1.6;
    z-index: 1;
  }

  .grid-by-dark-text {
    position: absolute;
    top: 75%;
    left: 10%;
    font-size: 1em;
    width: 60%;
    line-height: 150%;
    color: colors.$color_2;
    z-index: 1;
  }
}

/* SUBSCRIBE */
.subscribe-section {
  margin: 4em auto;
  display: flex;
  flex-direction: column;
  gap: 2em;
  align-items: center;

  .subscribe-text {
    font-size: 2.4em;
    box-sizing: border-box;
    width: 50%;
    text-align: center;
    font-family: fonts.$font-family_2;
    font-weight: 900;

    @include tablet {
      font-size: 2em;
    }
  }

  .subscribe-form {
    display: flex;
    flex-direction: column;

    .input {
      border: none;
      background-color: colors.$background-color_1;
      border-bottom: 1px solid rgb(172, 172, 172);
      width: 500px;
      padding: 1em;
      text-align: center;
    }

    .btn-subscribe {
      align-self: center;
      margin-top: 2em;
      border: none;
      padding: 1.6em 1.6em;
      text-align: center;
      box-sizing: content-box;
      border-radius: 1em;
      background-color: #333351;
      color: colors.$color_1;
      letter-spacing: 3px;
      text-transform: uppercase;
      &:hover {
        background-color: colors.$background-color_8;
        color: colors.$color_2;
      }

      @include tablet {
        padding: 1.6em 1.4em;
      }
    }
  }
}

.type {
  display: inline-flex;
}
.type span {
  word-break: break-all;
  height: 1.2em;
  width: 0%;
  overflow: hidden;
  animation: t 2s linear infinite alternate;
  font-size: 1.6em;
}
.type span:before {
  content: " ";
  display: inline-block;
}
@keyframes t {
  90%,
  100% {
    width: 100%;
  }
}

/* FOOTER */
footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  width: 90%;
  margin-top: 2em;

  @include tablet {
    width: 90%;
    font-size: 0.8em;
    gap: 0.7em;
  }

  .bottom-menu {
    > * {
      display: flex;
      flex: 2;
      gap: 1.4em;
      font-size: 0.8em;
      font-weight: 400;
      font-family: fonts.$font-family_2;
    }
  }

  .bottom-menuitem {
    a {
      text-decoration: none;
      color: colors.$color_1;

      &:hover {
        color: colors.$color_1;
        border-bottom: 2px solid #ffb469;
      }
    }
  }

  .solial-media {
    display: flex;
    gap: 1.2em;
    a {
      color: colors.$color_1;
    }
  }

  .fa-brands {
    font-size: 1.4em;
  }
}
