body {
  background-color: #252530;
  font-family: "Muslish", serif, "Corben", serif;
  color: white;
  margin: 2em auto;
  max-width: 1440px;
}

/* HEADER */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  max-width: 1240px;
}
@media screen and (max-width: 768px) {
  .header {
    width: 90%;
    font-size: 0.8em;
    gap: 0.7em;
  }
}
.header .logo {
  flex: 1;
  max-width: 30%;
  cursor: pointer;
}
.header .menu > * {
  display: flex;
  flex: 2;
  gap: 1.4em;
  font-size: 1.2em;
  font-weight: 400;
  font-family: "Muslish", serif;
}
.header .menuitem a {
  text-decoration: none;
  color: white;
}
.header .menuitem a:hover {
  color: white;
  border-bottom: 2px solid #f9d681;
}
.header .fa-solid {
  color: white;
}

/* #1 SECTION */
.first-screen-cards {
  display: flex;
  margin-top: 5em;
  margin-left: 4em;
  max-width: 1440px;
  /* 4 IMG SIDE*/
}
@media screen and (max-width: 768px) {
  .first-screen-cards {
    font-size: 0.6em;
  }
}
.first-screen-cards .left-side {
  width: 40%;
  position: relative;
}
.first-screen-cards .left-side img {
  width: 97%;
  height: 450px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 2em;
  cursor: pointer;
}
.first-screen-cards .left-image-box {
  position: relative;
}
.first-screen-cards .left-image-box::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 97%;
  height: 450px;
  border-radius: 2em;
  background-color: rgb(214, 214, 214);
  opacity: 0.2;
  cursor: pointer;
}
.first-screen-cards .left-image-box img {
  transition: transform 0.3s ease;
}
.first-screen-cards .left-image-box:hover img {
  transform: scale(1.03);
}
.first-screen-cards .btn {
  position: absolute;
  top: 5%;
  left: 5%;
}
.first-screen-cards .btn a {
  text-decoration: none;
  color: #333351;
  border: 1px solid #ebebeb;
  border-radius: 1rem;
  background-color: white;
  margin-right: 1rem;
  font-family: "Muslish", serif;
  font-size: 1em;
  box-sizing: border-box;
  padding: 0.2em 0.4em;
  letter-spacing: 2px;
}
.first-screen-cards .bold-text-left {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 2em 1em;
  color: white;
  font-weight: 800;
  font-size: 2.6em;
  text-shadow: 3px 3px 4px rgba(24, 24, 24, 0.5);
  line-height: 1.4;
  font-family: "Corben", serif;
  box-sizing: border-box;
  padding: 0.5em;
}
.first-screen-cards .right-side {
  display: flex;
  width: 60%;
  flex-wrap: wrap;
}
.first-screen-cards .right-side .btn {
  position: absolute;
  top: 10%;
  left: 5%;
}
.first-screen-cards .right-side .btn a {
  text-decoration: none;
  color: #333351;
  border: 1px solid #ebebeb;
  border-radius: 1rem;
  background-color: white;
  margin-right: 1rem;
  font-family: "Muslish", serif;
  font-size: 1em;
  box-sizing: border-box;
  padding: 0.2em 0.4em;
  letter-spacing: 2px;
}
.first-screen-cards .card-box {
  width: 48%;
  position: relative;
}
.first-screen-cards .card-box:nth-child(1) .image-box::before {
  background-color: rgb(175, 234, 139);
}
.first-screen-cards .card-box:nth-child(2) .image-box::before {
  background-color: rgb(200, 116, 221);
}
.first-screen-cards .card-box:nth-child(3) .image-box::before {
  background-color: rgb(111, 172, 233);
}
.first-screen-cards .card-box:nth-child(4) .image-box::before {
  background-color: rgb(231, 170, 105);
}
.first-screen-cards .image-box {
  width: 100%;
  position: relative;
}
.first-screen-cards .image-box::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 97%;
  height: 220px;
  border-radius: 2em;
  background-color: rgb(214, 214, 214);
  opacity: 0.9;
  cursor: pointer;
}
.first-screen-cards .image-box img {
  width: 97%;
  height: 220px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 2em;
  cursor: pointer;
  transition: transform 0.3s ease;
}
.first-screen-cards .image-box:hover {
  transform: scale(1.03);
}
.first-screen-cards .bold-text {
  box-sizing: border-box;
  position: absolute;
  bottom: 20%;
  left: 0;
  color: white;
  font-weight: 800;
  font-size: 2em;
  font-family: "Corben", serif;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  border-radius: 0 0 2em 2em;
  line-height: 1.2;
  padding: 0.5em;
}

/* SECOND SCREEN */
.second-screen-cards {
  margin: auto;
  max-width: 1240px;
}
@media screen and (max-width: 768px) {
  .second-screen-cards {
    margin: 2em;
  }
}

.screen-cards {
  position: relative;
}
.screen-cards img {
  height: 600px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  margin-top: 2rem;
  border-radius: 2rem;
}

.opacity {
  opacity: 0.6;
  cursor: pointer;
  transition: transform 0.3s ease;
}
.opacity:hover {
  transform: scale(1.03);
}

.btns {
  position: absolute;
  top: 25%;
  left: 10%;
}
.btns a {
  text-decoration: none;
  color: white;
  border: 1px solid #ebebeb;
  border-radius: 1rem;
  padding: 0.4rem 1.2rem;
  margin-right: 1rem;
  font-family: "Corben", serif;
  font-size: 1.2rem;
}
.btns a:hover {
  background-color: #f9d681;
  color: #333351;
  border: none;
  transition: 1s ease;
}

.width-card-text {
  font-size: 3.2em;
  position: absolute;
  top: 32%;
  left: 10%;
  color: white;
  width: 80%;
  font-family: "Corben", serif;
  font-weight: 600;
  line-height: 1.6;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
@media screen and (max-width: 768px) {
  .width-card-text {
    top: 35%;
    font-size: 2.8em;
  }
}

.add-text {
  position: absolute;
  top: 60%;
  left: 10%;
  font-size: 1.2em;
  width: 60%;
  line-height: 150%;
  color: white;
}

.by-text {
  position: absolute;
  top: 75%;
  left: 10%;
  font-size: 1em;
  width: 60%;
  line-height: 150%;
  color: white;
}

.yellow {
  transition: transform 0.3s ease;
}
.yellow::before {
  content: "";
  position: absolute;
  top: 5%;
  left: 0;
  width: 100%;
  height: 600px;
  border-radius: 2rem;
  background-color: #f9d681;
  opacity: 0.9;
  cursor: pointer;
}
.yellow:hover {
  transform: scale(1.03);
}

.dark-btns {
  position: absolute;
  top: 25%;
  left: 10%;
}
.dark-btns a {
  text-decoration: none;
  color: #333351;
  border: 1px solid #333351;
  border-radius: 1rem;
  padding: 0.4rem 1.2rem;
  margin-right: 1rem;
  font-family: "Corben", serif;
  font-size: 1.2rem;
}
.dark-btns a:hover {
  background-color: #f9d681;
  color: #333351;
  border: none;
  transition: 1s ease;
}

.dark-text {
  font-size: 3.2em;
  position: absolute;
  top: 32%;
  left: 10%;
  color: #333351;
  width: 80%;
  font-family: "Corben", serif;
  font-weight: 600;
  line-height: 1.6;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
@media screen and (max-width: 768px) {
  .dark-text {
    font-size: 2.4em;
  }
}

.line {
  position: absolute;
  top: 58%;
  left: 10%;
  width: 3%;
  border: 1px solid #333351;
}

.dark-add-text {
  position: absolute;
  top: 62%;
  left: 10%;
  font-size: 1.2em;
  width: 60%;
  line-height: 150%;
  color: #333351;
}
@media screen and (max-width: 768px) {
  .dark-add-text {
    font-size: 1em;
  }
}

.dark-by-text {
  position: absolute;
  top: 75%;
  left: 10%;
  font-size: 1em;
  width: 60%;
  line-height: 150%;
  color: #333351;
}

.bellow-section-text {
  font-size: "Muslish", serif;
  font-size: 1.2em;
  margin-top: 2em;
  text-align: center;
}

/*IMG-GRID SECTION  */
.grid {
  max-width: 1240px;
  margin: 2em auto;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(8, 5vw);
  grid-gap: 1em;
}
@media screen and (max-width: 768px) {
  .grid {
    margin: 2em;
    display: flex;
    flex-wrap: wrap;
  }
}
.grid .item {
  position: relative;
  cursor: pointer;
  transition: transform 0.3s ease;
}
@media screen and (max-width: 768px) {
  .grid .item {
    width: 100%;
  }
}
.grid .item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 430px;
  background-color: #252530;
  opacity: 0.8;
  z-index: 1;
  border-radius: 2em;
}
.grid .item figure {
  margin: 0;
}
.grid .item img {
  width: 100%;
  height: 430px;
  overflow: hidden;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 2em;
  transition: transform 0.3s ease;
}
.grid .item:hover {
  transform: scale(1.03);
}
.grid .item.item-50_1::before {
  background-color: rgb(200, 116, 221);
}
.grid .item.item-50_2::before {
  background-color: #f9d681;
}
.grid .item.item-30_2::before {
  background-color: rgb(111, 172, 233);
}
.grid .item-50_1 {
  grid-column-start: 1;
  grid-column-end: 7;
  grid-row-start: 1;
  grid-row-end: 5;
}
.grid .item-50_2 {
  grid-column-start: 7;
  grid-column-end: 13;
  grid-row-start: 1;
  grid-row-end: 5;
}
.grid .item-30_1 {
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 6;
  grid-row-end: 10;
}
.grid .item-30_2 {
  grid-column-start: 5;
  grid-column-end: 9;
  grid-row-start: 6;
  grid-row-end: 10;
}
.grid .item-30_3 {
  grid-column-start: 9;
  grid-column-end: 13;
  grid-row-start: 6;
  grid-row-end: 10;
}
.grid .grid-btns {
  position: absolute;
  top: 25%;
  left: 10%;
  z-index: 1;
}
.grid .grid-btns a {
  text-decoration: none;
  color: white;
  border: 1px solid white;
  border-radius: 1rem;
  padding: 0.4rem 1.2rem;
  margin-right: 1rem;
  font-family: "Corben", serif;
  font-size: 1.2rem;
}
.grid .grid-btns a:hover {
  background-color: rgb(214, 214, 214);
  color: #333351;
  border: none;
  transition: 1s ease;
}
.grid .grid-card-text {
  font-size: 2em;
  position: absolute;
  top: 32%;
  left: 10%;
  color: white;
  width: 80%;
  font-family: "Corben", serif;
  font-weight: 600;
  line-height: 1.6;
  z-index: 1;
}
.grid .grid-by-text {
  position: absolute;
  top: 75%;
  left: 10%;
  font-size: 1em;
  width: 60%;
  line-height: 150%;
  color: white;
  z-index: 1;
}
.grid .grid-dark-btns {
  position: absolute;
  top: 25%;
  left: 10%;
  z-index: 1;
}
.grid .grid-dark-btns a {
  text-decoration: none;
  color: #333351;
  border: 1px solid #333351;
  border-radius: 1rem;
  padding: 0.4rem 1.2rem;
  margin-right: 1rem;
  font-family: "Muslish", serif;
  font-size: 1.2rem;
}
.grid .grid-dark-btns a:hover {
  background-color: #252530;
  color: white;
  border: none;
  transition: 1s ease;
}
.grid .grid-dark-text {
  font-size: 2em;
  position: absolute;
  top: 32%;
  left: 10%;
  color: #333351;
  width: 80%;
  font-family: "Corben", serif;
  font-weight: 600;
  line-height: 1.6;
  z-index: 1;
}
.grid .grid-by-dark-text {
  position: absolute;
  top: 75%;
  left: 10%;
  font-size: 1em;
  width: 60%;
  line-height: 150%;
  color: #333351;
  z-index: 1;
}

/* SUBSCRIBE */
.subscribe-section {
  margin: 4em auto;
  display: flex;
  flex-direction: column;
  gap: 2em;
  align-items: center;
}
.subscribe-section .subscribe-text {
  font-size: 3.4em;
  box-sizing: border-box;
  width: 50%;
  text-align: center;
  font-family: "Corben", serif;
  font-weight: 900;
}
@media screen and (max-width: 768px) {
  .subscribe-section .subscribe-text {
    font-size: 2em;
  }
}
.subscribe-section .subscribe-form {
  display: flex;
  flex-direction: column;
}
.subscribe-section .subscribe-form .input {
  border: none;
  background-color: #252530;
  border-bottom: 1px solid rgb(172, 172, 172);
  width: 500px;
}
.subscribe-section .subscribe-form .btn-subscribe {
  align-self: center;
  margin-top: 2em;
  border: none;
  padding: 2.4em 2.4em;
  text-align: center;
  box-sizing: content-box;
  border-radius: 1em;
  background-color: #333351;
  color: white;
  letter-spacing: 3px;
  text-transform: uppercase;
}
@media screen and (max-width: 768px) {
  .subscribe-section .subscribe-form .btn-subscribe {
    padding: 1.6em 1.4em;
  }
}

/* FOOTER */
footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  max-width: 1240px;
  margin-top: 2em;
}
@media screen and (max-width: 768px) {
  footer {
    width: 90%;
    font-size: 0.8em;
    gap: 0.7em;
  }
}
footer .bottom-menu > * {
  display: flex;
  flex: 2;
  gap: 1.4em;
  font-size: 0.8em;
  font-weight: 400;
  font-family: "Corben", serif;
}
footer .bottom-menuitem a {
  text-decoration: none;
  color: white;
}
footer .bottom-menuitem a:hover {
  color: white;
  border-bottom: 2px solid #ffb469;
}
footer .solial-media {
  display: flex;
  gap: 1.2em;
}
footer .fa-brands {
  font-size: 1.4em;
}/*# sourceMappingURL=style.css.map */